.col-xs-1-123{
  width: 8.33%;
}
.col-xs-2-123{
  width: 16.67%;
}
.col-xs-3-123{
  width: 25%;
}
.col-xs-4-123{
  width: 33.33%;
}
.col-xs-5-123{
  width: 41.67%;
}
.col-xs-6-123{
  width: 50%;
}
.col-xs-7-123{
  width: 58.33%;
}
.col-xs-8-123{
  width: 66.67%;
}
.col-xs-9-123{
  width: 75%;
}
.col-xs-10-123{
  width: 83.33%;
}
.col-xs-11-123{
  width: 91.67%;
}
.col-xs-12-123{
  width: 100%;
}


@media(min-width: 576px){
  .col-sm-1-123{
    width: 8.33%;
  }
  .col-sm-2-123{
    width: 16.67%;
  }
  .col-sm-3-123{
    width: 25%;
  }
  .col-sm-4-123{
    width: 33.33%;
  }
  .col-sm-5-123{
    width: 41.67%;
  }
  .col-sm-6-123{
    width: 50%;
  }
  .col-sm-7-123{
    width: 58.33%;
  }
  .col-sm-8-123{
    width: 66.67%;
  }
  .col-sm-9-123{
    width: 75%;
  }
  .col-sm-10-123{
    width: 83.33%;
  }
  .col-sm-11-123{
    width: 91.67%;
  }
  .col-sm-12-123{
    width: 100%;
  }

}

@media(min-width: 768px){
  .col-md-1-123{
    width: 8.33%;
  }
  .col-md-2-123{
    width: 16.67%;
  }
  .col-md-3-123{
    width: 25%;
  }
  .col-md-4-123{
    width: 33.33%;
  }
  .col-md-5-123{
    width: 41.67%;
  }
  .col-md-6-123{
    width: 50%;
  }
  .col-md-7-123{
    width: 58.33%;
  }
  .col-md-8-123{
    width: 66.67%;
  }
  .col-md-9-123{
    width: 75%;
  }
  .col-md-10-123{
    width: 83.33%;
  }
  .col-md-11-123{
    width: 91.67%;
  }
  .col-md-12-123{
    width: 100%;
  }
}