.spinner2321{
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  animation: rotate 0.8s linear infinite ;
  display: inline-block;
}

@keyframes rotate{
  0% {
    tranform: rotate(0);
  }
  
  100% {
    transform: rotate(360deg);
  }
  
}