header{
  z-index: 5;
  width: 100%;
}

#nav-wrap{
  display: flex;
  justify-content: space-between;
}

#tabs-wrap{
  position: absolute;
  overflow: hidden;
  width: 100%;
  text-align: center;
  top: 70px;
  z-index: 100;
  max-height: 0;
  transition: all 0.5s ease;
}

#nav-tabs-wrap{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 100%;
  padding: 15px 0;
}

#nav-tabs{
  display: block;
  overflow: hidden;
}

.nav-tabs{
  padding: 10px;
  margin: 3px;
}

.nav-tabs a{
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  transition: all 0.3s;
}

#logo{
  width: 60px;
  height: 45px;
  margin: 10px;
  transition: all 0.5s;
}

#right{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.toggle{
  font-size: 1.8em;
  font-weight: bold;
  background: transparent;
  border: 0px;
  cursor: pointer;
  padding: 0 10px;
  margin-right: 20px; 
}

.toggle:focus{
  outline: none;
}

.active{
  border-radius: 3px;
}

.dropdown{
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 3px;
  margin-top: 9px;
  background: #fff;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
}

.dropdown li{
  padding: 10px 50px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

@media(min-width: 768px){
  #nav-wrap{
    padding: 0 60px;
  }

  #tabs-wrap{
    position: static;
    max-height: 100%;
    width: auto;
  }

  #nav-tabs-wrap{
    flex-direction: row;
    padding: 0;
  }

  .nav-tabs{
    padding: 0;
    margin: 0 3px;
  }

  .toggle{
    display: none;
  }
}